@import "tailwindcss";

:root[data-theme="spendary"] {
  --p: 118 56% 51%;
  --pc: 120 41% 7%;
  --s: 120 41% 31%;
  --a: 45 90% 57%;
  --n: 0 0% 9%;
  --b1: 45 9% 95%;
  --b2: 45 9% 92%;
  --b3: 45 9% 88%;
  --bc: 0 0% 9%;
}

html,
body {
  height: 100%;
}
